@model SCC_Marina.Models.Lease

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlipId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
